---
import Layout from "../layouts/Layout.astro";
---

<Layout title="an ode to my mom">
  <main>
    <h2>"404"</h2>
    <h2>you've wandered away from the exhibition</h2>
    <h2><a href={import.meta.env.BASE_URL}>click here to return ...</a></h2>
  </main>
</Layout>
