---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout>
  <h2>Curated by Sunny Park</h2>
  <h2>Co-curated by Bofei Zhang</h2>
  <h2>Website developed by Aymen Dirar</h2>
  <p>
    An Ode to my Mom is the second of the “an ode to ___” exhibition series and
    is supported by the Hatch Art Gallery at UBC, Vancouver. The first one of
    the series was “An Ode to My Younger Self” and you can find out more about
    it at <a href="https://www.instagram.com/hatch_artgallery/"
      >instagram.com/hatch_artgallery</a
    >
  </p>
  <p>
    This online exhibit was made by three friends from UBC; Sunny, Bofei, and
    Aymen. This exhibition is open from April 26, 2023 to April 26, 2024. We
    want to thank all the artists who participated in this exhibition!
  </p>
  <p>Sincerely,</p>
  <p>Sunny, Bofei, and Aymen</p>
  <ul>
    <li>
      <a href="https://www.instagram.com/sunnypork/" target="_blank"
        >@sunnypork</a
      >
    </li>
    <li><a href="https://sunnypork.com/" target="_blank">sunnypork.com</a></li>
    <li>
      <a href="https://www.instagram.com/bbooffeeiizzhhaanngg/" target="_blank"
        >@bbooffeeiizzhhaanngg</a
      >
    </li>
    <li>
      <a href="https://adirar111.github.io/" target="_blank"
        >adirar111.github.io</a
      >
    </li>
  </ul>
</PageLayout>
