---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout>
  <h2>Curated by Sunny Park</h2>
  <h2>Co-curated by Bofei Zhang</h2>
  <h2>Website developed by Aymen Dirar</h2>
  <p>
    "Ode to Mom" is the second of the "ode to" exhibition series. <a
      href="https://sunnypork.com/"
      target="_blank">Sunny</a
    > came up with the idea as she was working as a Hatch Gallery director at UBC.
    She formed a team with two dear friends, <a
      href="https://www.instagram.com/bbooffeeiizzhhaanngg/"
      target="_blank">Bofei</a
    >, who she met in Kelly’s visual art studio class, and <a
      href="http://adirar111.github.io"
      target="_blank">Aymen</a
    >, who is a computer science major who she met through her good friend
    Braxton. The three of them worked together to make this online exhibition
    possible.
  </p>
  <p>
    Aymen coded the website from scratch all by himself and Bofei helped out in
    all aspects of the exhibition organizing. The first one of the "ode to"
    exhibition series was "An Ode to My Younger Self". It was a physical
    exhibition in the Hatch Gallery curated by Sunny featuring 12 student
    artists.
  </p>
  <p>
    We are going to leave the <a
      href="https://forms.gle/wU6bN2ieJSMTBJcF8"
      target="_blank">Call for Art</a
    > open during the first six months of this exhibition and will renew with new
    selected works in the beginning of 2024. Please submit your artwork if it fits
    the theme of this exhibition. If you have any questions about the exhibition,
    message me <a href="http://Instagram.com/sunnypork" target="_blank"
      >@sunnypork</a
    >. We are so grateful for all the artists who participated in this
    exhibition!
  </p>
  <p>
    This exhibition launched on April 29, 2023 and will be over on April 29,
    2024.
  </p>
  <p>With love,</p>
  <p>Sunny, Bofei, and Aymen</p>
</PageLayout>
