---
import Layout from "../layouts/Layout.astro";
import ArtworkLinks from "../components/ArtworkLinks.tsx";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>art about "mom"</h1>
    <ArtworkLinks />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
  h1 {
    text-align: center;
  }
</style>
