.grid {
  overflow-x: hidden;
  display: grid;
  grid-template-rows: repeat(6, auto [row-start]);
  grid-template-columns: repeat(5, auto [col-start]);
  min-height: 100vh;
}

.gridItem {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: initial;
  font-size: 14px;
}

.rotateLeft {
  transform: rotate(-90deg);
}


.rotateRight {
  transform: rotate(90deg);
}

.rotateUpside {
  transform: rotate(180deg);
}

