---
import Layout from "./Layout.astro"
---

<Layout>
  <body>
    <h1 class="title">
      <a href={`${import.meta.env.BASE_URL}about`}>an ode to my mom</a>
    </h1>
    <slot />
  </body>
</Layout>

<style>
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
  }
  /* @media only screen and (max-width: 600px) { */
  /*   body { */
  /*     height: auto; */
  /*   } */
  /* } */
</style>
